test
sillyGirl
.vscode
dev.go
.DS_Store
jd_wskey
logs/*
develop/jd_*
data
dwz
replies
qinglongs
sets.conf
*.exe
yummy
_*
fanli_vip
cable
sillyGirl.cache
sillyGirl.*
main
sillyGirl.pid
sillyGirl.pid
gitee
develop/wx
develop/qinglong
toulu
develop/boltdb
develop/core
*.db
dist/
core/dist
.verysync
test
.sillyGirl
test*
node_modules
plugins
bin
language
